.container{
    width: 100%;
    height: auto;
    background-color: var(--primary-light-color);
    background-image: url('../../assets/stock/background.svg');
    background-size: cover;
    background-position: center;
}

.short__background{
    background-position-y: 60%;
}