.header{
    width: 100%;
    height: var(--primary-header-height);
    display: flex;
    font-family: var(--primary-font-family);
    font-size: 14px;
    position: relative;
    z-index: 10;
}

.header__logo{
    width: 50%;
    height: var(--primary-header-height);
}

.header__logoContainer{
    width: 61%;
    height: var(--primary-header-height);
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__navigation{
    width: 50%;
    height: var(--primary-header-height);
    background-color: var(--primary-light-color);
}

.header__navigationContainer{
    width: 61%;
    height: var(--primary-header-height);
}

.header__options{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.header__languageOptions{
    flex: 1;
    display: flex;
    padding-left: 74px;
    list-style-type: none;
}

.header__language{
    padding: 0px 10px;
}

.outlined__button{
    width: 127px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--primary-dark-color);
    border-radius: var(--primary-button-radious);
    text-transform: uppercase;
    margin-right: 20px;
}

.filled__button{
    width: 180px;
    height: 40px;
    background-color: var(--primary-button-red);
    border-radius: var(--primary-button-radious);
    text-transform: uppercase;
    color: var(--primary-light-color);
    border: none;
}

.header__routeCollection{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    padding-left: 84px;
}

.collection__item{
    text-transform: uppercase;
    list-style-type: none;
}

.collection__item > a{
    color: var(--primary-dark-color);
    text-decoration: none;
}